.map-container {
    width: 80%;            
    margin: 20px auto;       
    border: 2px solid #61dafb; 
    border-radius: 15px;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;       
}
  
.map-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}